
// Import Bootstrap
@import "bootstrap/scss/bootstrap";

// Import FontGoogle

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800;900&display=swap');


// COLOR

$main-color: #00bdcd;
$submain-color: #7ce2e0;
$bg-color: #ffffff;
$bg-color-2: rgb(238, 238, 238);

* {
    font-family: 'Montserrat', sans-serif;
}

.container_one {
    width: 900px;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section_two {
    background-color: $bg-color-2;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.specialization_list {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin-bottom: 1rem;

    .btn_specialization {
        width: fit-content;
        height: fit-content;
        margin: .2rem;
        padding: .1rem .6rem;
        background-color: $bg-color;
        border-radius: 30rem;
        font-size: .8rem;
    }
}
